In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
dataset = pd.read_csv("iris.csv")
X = dataset.iloc[:,:4].values
y = dataset['variety'].values
dataset.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test) 
y_pred

array(['Virginica', 'Setosa', 'Virginica', 'Virginica', 'Virginica',
       'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Virginica',
       'Virginica', 'Virginica', 'Setosa', 'Versicolor', 'Versicolor',
       'Virginica', 'Virginica', 'Setosa', 'Virginica', 'Setosa',
       'Setosa', 'Virginica', 'Setosa', 'Setosa', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Versicolor'],
      dtype='<U10')

In [8]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9

array([[ 9,  0,  0],
       [ 0,  6,  2],
       [ 0,  1, 12]])

In [9]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0   Versicolor        Virginica
1       Setosa           Setosa
2    Virginica        Virginica
3    Virginica        Virginica
4    Virginica        Virginica
5   Versicolor       Versicolor
6       Setosa           Setosa
7       Setosa           Setosa
8    Virginica        Virginica
9   Versicolor        Virginica
10   Virginica        Virginica
11   Virginica        Virginica
12      Setosa           Setosa
13  Versicolor       Versicolor
14  Versicolor       Versicolor
15   Virginica        Virginica
16   Virginica        Virginica
17      Setosa           Setosa
18   Virginica        Virginica
19      Setosa           Setosa
20      Setosa           Setosa
21   Virginica        Virginica
22      Setosa           Setosa
23      Setosa           Setosa
24  Versicolor       Versicolor
25   Virginica        Virginica
26   Virginica       Versicolor
27  Versicolor       Versicolor
28   Virginica        Virginica
29  Versicolor       Versicolor